body {
  /* background: #fafafa; */
  /* color: #333333; */
  background: #fafafa;
  color: rgb(113, 137, 168);
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #16151A;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    /* background-color: #5f788a; */
    background-color: #436BA0;
  }
  
  .site-header .navbar-nav .nav-link {
    /* color: #cbd5db; */
    color: rgb(201, 204, 209);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #F5F2F2;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: rgb(255, 255, 255);
    padding: 10px 20px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #436BA0;
  }
  
  a.article-title:hover {
    color: #3E7C97;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #F5F2F2
  }
  
  .article-metadata a:hover {
    color: #3E7C97;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }